body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    padding-top:120px;
}


main {
    background-color: white;
    width: 322px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
}
.attribution {
    display: flex;
    justify-content: center;
}
img {
    width: 290px;
    border-radius: 10px;
    margin-top: 16px;
}

h1 {
    margin: 30px 20px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
p {
    padding-bottom: 45px;
    margin: 20px 30px;
    font-weight: 400;
}

@media (min-width: 426px) {
    main {
        max-width: 320px;
    }
}